body {
    font-family: Helvetica;
    background-color: rgb(34, 33, 33);
    color: rgba(255, 255, 255, 0.925);
    margin: 0px;
}


.header {
        font-size: 160%;
        display: flex;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        flex-direction: column;
        line-height: 2.5;
        padding: 30px 50px 20px;
        margin-bottom: 0;
    }
    .headercolor {
        background-color: rgb(24, 24, 24); 
    }


/*Navigation*/
    .nav {
        font-size: 130%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 30px;
        margin-top: 25px;
        margin-bottom: 20px;
        overflow: auto;
    }
    .nav a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.925);
    }
    .nav a:hover {
        text-decoration: underline; 
        font-size: 105%;
    }

/*Content*/
    #title {
        font-size: 180%;
        padding: 20px 60px 10px;
    }
    #content {
        padding: 0 80px 10px 50px;
    }
    #content-aboutme {
        padding: 55px 10px 10px 50px;
    }
    .content-passions p {
        margin-top: 8px;
    }

/*Listes (about-me.html | my-dreams.html)*/
    li {
        line-height: 1.5;
    }
    .hyphen li:before {
        content: "- ";
    }
    .hyphen {
        list-style-type: none;
        margin-left: -20px;
    }

/*Table (about-me.html)*/
    table {
        border-collapse: collapse;
        margin: auto;
    }
    td, th {
        border: 1px solid #ddddddda;
        text-align: center;
        padding: 8px;
        width: 80px;
    }
    tr {
        height: 50px;
    }
    #tablepadding {
        padding: 0 10px 0 50px;
    }

    /*Flexbox for align items vertically in "about-me.html" page*/
    .aboutmebox {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    #imgskills {
        padding: 30px 50px 30px 50px;
        width: 80%;
        max-width: 90%; 
    }


/*Images*/
    .imgspassions h2 {
        margin-bottom: 5px;
    }
    figure img {
        width: 150px;
    }
    /*Images légendées*/
    figure {
        margin-left: 5px;
        margin-right: 0;
    }
    figcaption {
        font-size: 60%;
        /*color: black;*/
        /*margin-top: -14px;*/
    }


.footer {
    padding: 40px 20px 20px;
    margin-top: 25px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }

    
/*Menu Burger Responsive for low width*/
    label, #toggle {
        display: none;
    }
    @media all and (max-width: 900px) {
        nav {
            max-height: 310px;
            min-height: 55px;
        }
        nav .menu {
            display: none;
            flex-direction: column;
            align-items: center;
            background: rgb(24, 24, 24);
            height: 200px;
        }
        label {
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            font-size: 30px;
            color: white;
            cursor: pointer;
        }
        #toggle:checked + .menu {
            display: flex;
        }
    }

/*Responsive*/
    @media all and (min-width: 2400px)/*Large Screen*/ {
        /*Adjust responsive for Header (TV)*/
        body {
            font-size: xx-large
        }
        .nav {
            margin-top: 45px;
            margin-bottom: 40px;
        }
        nav .menu {
            height: 50px;
        }/*XXX*/
        /*Adjust texts and elements (for TV)*/
        td, th {
            padding: 10px;
            width: fit-content;
        }
        table {
            margin-left: 0;
            margin: auto;
        }
        #imgskills {
            width: 600px;
        }
        figure img {
            width: 200px;
        }
    }
    @media all and (max-width: 900px)/*Tablet*/ {
        /*Adjust responsive for Header (tablet)*/
        body {
            font-size: small;
        }
        .header {
            line-height: 2;
            padding: 25px 40px 15px;
        }
        .nav {
            margin-top: 10px;
            margin-bottom: 5px;
        }/*XXX*/
        /*Adjust texts and elements (for tablet)*/
        #title {
            padding: 15px 50px 10px;
        }
        #content {
            padding: 0 50px 10px 40px;
        }
        #content-aboutme {
            padding: 0 10px 10px 40px;
        }
        ol, ul {
            padding-left: 30px;
        }
        #tablepadding {
            padding: 0;
            margin: auto;
        }
        #tablepadding h2 {
            margin-left: 5px;
        }
        table {
            margin-left: 0;
        }
        #imgskills {
            width: 350px;
            margin: 0 0 0 32px;
            padding: 10px 0 0 0;
        }
        figure img {
            width: 125px;
        }
        /*XXX*/
        /*Order of elements of the flexbox (for tablet)*/
            #content-aboutme {
                order: 3;
            }
            #tablepadding {
                order: 2;
            }
            #imgskills {
                order: 1;
            } /*XXX*/
        /*Positions relative and absolute to the flexbox for good positionnements*/
            .aboutmebox {
                position: relative;
                height: 625px;
            }
            #content-aboutme {
                position: absolute;
                margin-top: 250px;
            } /*XXX*/
    }
    @media all and (max-width: 660px)/*Tablet S*/ {
        #content-aboutme {
            padding: 0 10px 10px 40px;
        }
        .aboutmebox {
            flex-direction: column;
        }
        figure img {
            width: 115px;
        }
        /*XXX*/
        /*Order of elements of the flexbox (for phones)*/
            #content-aboutme {
                order: 2;
            }
            #tablepadding {
                order: 3;
            }
            #imgskills {
                order: 1;
            } /*XXX*/
        /*Delete 3th categorie of the before @media*/
            .aboutmebox {
                position: relative;
                height: 100%;
            }
            #content-aboutme {
                position: relative;
                margin-top: 0;
            } /*XXX*/
    }
    @media all and (max-width: 450px)/*Phone*/ {
        /*Adjust responsive for Header (phone)*/
        body {
            font-size: small;
        }
        .header {
            line-height: 1.5;
            padding: 20px 30px 10px;
        }
        .nav {
            margin-top: 5px;
            margin-bottom: 0;
        }
        #content-aboutme {
            padding: 0 50px 10px 30px;
        }
        #tablepadding h2 {
            margin-left: -15px;
        }
        td, th {
            width: 60px;
        }
        tr {
            height: 40px;
        }
        #imgskills {
            width: 225px;
            margin: 0 0 0 32px;
            padding: 20px 0 0 0;
        }
        figure img {
            width: 100px;
        }
        /**XXX*/
        /*Adjust of texts and elements (for phone)*/
        #title {
            padding: 10px 40px 10px;
        }
        #content {
            padding: 0 30px 10px 30px;
        }
    }