body {
    font-family: Helvetica;
    background-color: rgb(34, 33, 33);
    color: rgba(255, 255, 255, 0.925);
    margin: 0px;
}


.header {
        font-size: 160%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        line-height: 2.5;
        padding: 30px 50px 20px;
        margin-bottom: 0;
    }
    .headercolor {
        background-color: rgb(24, 24, 24); 
    }


/*Navigation*/
    .nav {
        font-size: 130%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 30px;
        margin-top: 25px;
        margin-bottom: 20px;
        overflow: auto;
    }
    .nav a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.925);
    }
    .nav a:hover {
        text-decoration: underline; 
        font-size: 105%;
    }

/*Content*/
    #title {
        font-size: 180%;
        padding: 20px 60px 10px;
    }
    #content {
        padding: 0 80px 10px 50px;
    }
    .content-passions p {
        margin-top: 8px;
    }

/*Listes*/
    li {
        line-height: 1.5;
    }
    #hyphen li:before {
        content: "- ";
    }
    #hyphen {
        list-style-type: none;
        margin-left: -20px;
    }

/*Tableau*/
    table {
        border-collapse: collapse;
        margin-left: 18px;
    }
    td, th {
        border: 1px solid #ddddddda;
        text-align: center;
        padding: 8px;
        width: 80px;
    }
    tr {
        height: 50px;
    }

    .tableright {
        display: flex;
        align-items: center;
    }

/*Images*/
    .imgspassions h2 {
        margin-bottom: 5px;
    }
    #imgskills {
        margin-top: -170px;
        padding: 0 30px 0 150px;
    }


.footer {
    padding: 40px 20px 20px;
    margin-top: 50px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }